@model Credo.Models.Loan

<form asp-controller="Loan" asp-action="Edit" method="post" class="form-horizontal" role="form">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Id" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="Id" class="form-control" />
            <span asp-validation-for="Id" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Amount" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="Amount" class="form-control" />
            <span asp-validation-for="Amount" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Period" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="Period" class="form-control" />
            <span asp-validation-for="Period" class="text-danger"></span>
        </div>
    </div>

    <select asp-for="Currency" class="form-control" asp-items="Html.GetEnumSelectList<Credo.Models.Enums.Currency>()">
        <option>Select type ...</option>
    </select>
    <select asp-for="LoanType" class="form-control" asp-items="Html.GetEnumSelectList<Credo.Models.Enums.LoanType>()">
        <option>Select type ...</option>
    </select>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-5">
            <input type="submit" class="btn btn-primary" value="Send loan" />
        </div>
    </div>

</form>